* {
  margin:0px;
  padding:0px;
}

body {
  background-color: lightblue;
}

h1 {
  color: red;
  text-align: center;
  font-family: 'Manjari', sans-serif;
  border: 5px solidblue;
}

h2 {
  color: blue;
  text-align: left;
  border: 5px solidblue
}

p {
  font-size: 20px;
  border: 5px solidblue
}
img {
  height: 55px;
  width: 55px;
}
